<div class="content">
    <div class="content__title">
        <h3>template-6 (context + data + partial + #each + #if + customHelper + customBlockHelper)</h3>
    </div>
    <div class="content__body">
        <div>hello: {{ world}}. My backend is {{ @backend }}</div>
        {{> _template-partial }}
        <div>
            <ul>
                {{#each items}}
                    <li key="{{ @index }}" style="color:{{#customBlockHelper @index }}red{{ else }}navy{{/customBlockHelper}};">
                        {{ customHelper @index }} {{ this }} {{#if @first}}(first){{/if}} {{#if @last}}(last){{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div>
        <div>spaces (" "): [                  ]</div>
        <div>spaces (&amp;nbsp): [&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</div>
        <div>
           <div>SPACE {{ world }} IN
                   {{ world }} BETWEEN </div>
           <div>NO {{~world~}} SPACE {{~world~}} IN
                   {{~world~}} BETWEEN </div>
        </div>
        <div>comments (brackets must be empty)
            [{{!--
             <div class="commented">MUST NOT BE IN IDOM</div>
             --}}]
            [{{~!--
            [{{!--
             <div class="commented">{{ world }} MUST NOT BE IN IDOM</div>
             --}}]
            [{{~!--
             <div class="commented">MUST NOT BE IN IDOM</div>
             --~}}]
            [{{!}}]
            [{{! <div class="commented">MUST NOT BE IN IDOM</div> }}]
            [{{~! <div class="commented">MUST NOT BE IN IDOM</div> ~}}]
             <!-- I AM A COMMENT -->
         </div>
    </div>
</div>
<hr/>